<style type="text/css">
<!--
body {

  font: 100.01% Verdana, Arial, Helvetica, sans-serif;

}

* {
  margin:0;
  padding:0;
}

#seite {
  width:100%;
  margin: 0 auto;
}

#kopfbereich {
  background-color:white;

}

#steuerung {
  background-color: #CDD6CD;
}

#inhalt {

  background-color: white;
}



#fussbereich {
  background-color:white;
}
-->
</style>