<style type="text/css">
<!--
body {

  font: 100.01% Verdana, Arial, Helvetica, sans-serif;

}

* {
  margin:2;
  padding:2;
}

#seite {
  width:100%;
  margin: 0 auto;
}

#kopfbereich {
  background-color:#DBFFDB;

}



#inhalt {

  background-color: white;

  margin-left: 0px;
}

#steuerung {
  float: right;
  width:200px;
  background-color: #CDD6CD;
}

#fussbereich {
  clear: both;
  background-color:#DBFFDB;
}
-->
</style>