<style type="text/css">

body {

  font: 100.01% Verdana, Arial, Helvetica, sans-serif;

}

* {
  margin:0;
  padding:3;
  line-height: 130%;
}

#seite {
  width:100%;
  margin: 0 auto;
}

#kopfbereich {
  background-color:#F0F0F0;

}



#inhalt {

  background-color: white;

  margin-left: 0px;
}

#steuerung {
  float: right;
  width:300px;
  background-color: #E0E0E0;
   border: 2px solid black;
   min-height: 400px;
}

#fussbereich {
  clear: both;
  background-color:#F0F0F0;
}

</style>