<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana;
	font-size: 0.9em;
	text-align: center;
	padding: 3px;
}
th { 
background-color: #999; 
color: #fff; 
border: 1px solid #fff; 
} 
a.header:link, { 
background-color: #999; 
color: #999; 
} 
a.header:visited, { 
background-color: #999; 
color: #999; 
} 
td.first { 
background-color: #00ff00; 
} 
td.second { 
background-color: #88FF88; 
} 
td.last { 
background-color: #ff0000; 
} 
td.lastButOne { 
background-color: #ff8888; 
} 
</style>
